<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Examination_x</display-name>
  <welcome-file-list>
    <welcome-file>login/demo.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.x.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassServlet</display-name>
    <servlet-name>ClassServlet</servlet-name>
    <servlet-class>com.x.servlet.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet</servlet-name>
    <url-pattern>/ClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.x.servlet.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectServlet</display-name>
    <servlet-name>SubjectServlet</servlet-name>
    <servlet-class>com.x.servlet.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectServlet</servlet-name>
    <url-pattern>/SubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subject</display-name>
    <servlet-name>Subject</servlet-name>
    <servlet-class>com.x.servlet.Subject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subject</servlet-name>
    <url-pattern>/Subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassAjax</display-name>
    <servlet-name>ClassAjax</servlet-name>
    <servlet-class>com.x.servlet.ClassAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassAjax</servlet-name>
    <url-pattern>/ClassAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaperServlet</display-name>
    <servlet-name>PaperServlet</servlet-name>
    <servlet-class>com.x.servlet.PaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperServlet</servlet-name>
    <url-pattern>/PaperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.x.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseAjax</display-name>
    <servlet-name>ChooseAjax</servlet-name>
    <servlet-class>com.x.servlet.ChooseAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseAjax</servlet-name>
    <url-pattern>/ChooseAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseServlet</display-name>
    <servlet-name>ChooseServlet</servlet-name>
    <servlet-class>com.x.servlet.ChooseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseServlet</servlet-name>
    <url-pattern>/ChooseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScoreServlet</display-name>
    <servlet-name>ScoreServlet</servlet-name>
    <servlet-class>com.x.servlet.ScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreServlet</servlet-name>
    <url-pattern>/ScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectAjax</display-name>
    <servlet-name>SubjectAjax</servlet-name>
    <servlet-class>com.x.servlet.SubjectAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectAjax</servlet-name>
    <url-pattern>/SubjectAjax</url-pattern>
  </servlet-mapping>
</web-app>